# Daily python quetions
# my_folder/*.py           Ignore all Python files in my_folder
# !my_folder/specific_file.py    But don't ignore specific_file.py

# ***********
Daily_python_Que/*.py
!Daily_python_Que/47_Day.py  


# Python Libraries
/Python_Liabraries

/02_Conditional
